<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="mycolor">
        <ion-title class="texto">Bienvenido</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item>Inicio
            <ion-icon slot="start" name="home" color="secondary"></ion-icon>

          </ion-item>
        </ion-menu-toggle>


        <ion-menu-toggle>
          <ion-item>Perfil
            <ion-icon slot="start" name="person" color="secondary"></ion-icon>

          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item>Asistencia
            <ion-icon slot="start" name="book" color="secondary"[routerLink]="['/dramos/:id']"></ion-icon>
          </ion-item>

          
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item>Configuracion
            <ion-icon slot="start" name="settings" color="secondary"></ion-icon>

          </ion-item>
        </ion-menu-toggle>


        <ion-tab-button tab="about"  [routerLink]="['/inicio']">
          <ion-icon name="log-out" color="secondary"></ion-icon>
          <ion-label>Huir</ion-label>
        </ion-tab-button>


        

      </ion-list>
   

    </ion-content>



  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="orange">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Duoc UC</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-card color="warning">
        <img src="../../assets/img/enc.jpg" />
        <ion-card-header color="warning">
          <ion-card-subtitle>Encuesta docente</ion-card-subtitle>
          <ion-card-title>Alteradas por presión</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Se avisto a docentes presionando para realizar la a
        </ion-card-content>
      </ion-card>
    
      <ion-card color="tertiary"> 
        <h3>Choche...</h3>
        <img src="../../assets/img/choche.jpg" />
        <ion-card-header>
          <ion-card-subtitle>No quiero que me hablen mas del huvito rey</ion-card-subtitle>
          <ion-card-title >Choche Advierte</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
         Choche se mostro una vez mas enfurecido ya que su audencia solo habla que opine sobre huvito rey y él exclamo "No quiero que me hablen mas del huvito rey" dejando en claro su disgusto.
        </ion-card-content>
      </ion-card>
    
      <ion-card color="success">
      <img src="../../assets/img/tomate.jpg" />
      <ion-card-header>
        <ion-card-subtitle>simplemente un tomate</ion-card-subtitle>
        <ion-card-title>Tomate verde</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
       un tomate verde... simplemente un tomate
      </ion-card-content>
    </ion-card>
    
      
    
    </ion-content>
  </div>
</ion-app>