<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title class="ion-text-center">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="ion-text-center">
    <ion-text>¿Como te deseas Registrar?</ion-text>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
 
  <ion-row>
    <ion-col size="6">
      <ion-button expand="block" type="submit" class="ion-no-margin" routerLink="/aregistrar" shape="round" color="warning">alumno</ion-button>
      <br>
    </ion-col>
    <ion-col size="6">
      <ion-button  expand="block" type="submit" class="ion-no-margin" routerLink="/dregistrar" shape="round" >
        <ion-icon name="person-add-outline"></ion-icon> Docente
      </ion-button>
    </ion-col>
  </ion-row>

</div>

<div class="ion-text-center">
  <br>
  <ion-col size="12">
    <ion-button expand="block" type="submit" class="ion-no-margin" routerLink="../inicio" shape="round" color="tertiary">Regresar</ion-button>
    <br>
  </ion-col>

</div>
</ion-content>